.container{
    text-align: center;
    margin-top: 20px;
    
}

.calculator{
    display: inline-block;
    background-color: rgb(10, 9, 8);
    border-radius: 20px;
    padding: 23px;
}
table{
    margin:auto;
}

input{
    font-size: 34px;
    border: 5px solid rgb(236, 12, 150);
    border-radius: 20px;
    width: 411px;
    height: 45px;
}

button{
    font-size: 40px;
    border-radius: 15px;
    background: #06ede5;
    width: 102px;
    height: 58px;
}
